@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 50px;
  margin-bottom: 100px;
}

.navbar-element-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navbar-element {
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-weight: normal; 
  font-family: 'Poppins', sans-serif;
  font-size: 28px; 
  transition: background-color 0.3s ease-in-out;
}

.lets-talk-link {
  border-radius: 24px;
  background-color: #ffdc0c;
  color: #000000;
  font-weight: normal; 
  font-family: 'Poppins', sans-serif;
  font-size: 30px; 
  padding: 6px 42px; 
  text-decoration: none;
}

.navbar-icon {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
}
