<div class="container">
    <div class="title-container">
    <div class="title underline">Portfolios.</div>
    <div class="title-description">Click on the cards to see my portfolios of related category.</div>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="../../assets/images/figma.png" class="card-icon" alt="Icon">
            <div class="card-title">UI/UX Designing.</div>
            <div class="card-content">We provide stunning designs for your UI/UX project, we can handle any project related to landing page designs,
                 e- commerce designs, portfolio website designs, business
                websites, and many more as per your requirements.</div>
        </div>
        <div class="card">
            <img src="../../assets/images/box3d.png" class="card-icon" alt="Icon">
            <div class="card-title">Graphic Designing.</div>
            <div class="card-content">We provide amazing and professional Graphic Assets for your projects such as social media post designs, logo designs,
                 business card designs, poster designs, youtube and blogs thumbnail designs, product label designs, and many more categories as per your requirements.</div>

        </div>
        <div class="card">
            <img src="../../assets/images/cmd.svg" class="card-icon" alt="Icon">
            <div class="card-title">Web Developement</div>
            <div class="card-content">After designing the web apps or sites we also offer the services of web
                 development for any kind of the website such as business landing pages, product related website development 
                 we can handle all the projects.</div>

        </div>
        <div class="card">
            <img src="../../assets/images/instagram.svg" class="card-icon" alt="Icon">
            <div class="card-title">Social Media Posts</div>
            <div class="card-content">Social media post designs are very important if you have business and want to promote your bussiness on social media,we are also providing
                the service of designing your social mediaposts for your bussiness.
            </div>

        </div>
        <div class="card">
            <img src="../../assets/images/phone.png" class="card-icon phone-icon" alt="Icon">
            <div class="card-title">Mobile App UI/UX</div>
            <div class="card-content">With the service of web design and development, we are offering the serice of mobile apps UI/UX designs if you are looking for someone who can create the layout and pages of your 
                mobile app professionally we are here to handle this kind of project.
            </div>

        </div>
        <div class="card last-card">
            <div class="card-title">Want Your Stunning Designs</div>
            <div class="card-content">if you want any kind of the listed services you can simply send us an email or leave a message on any social media platform</div>
            <button class="lets-talk">Lets Talk.</button>
        </div>
    </div>
    
</div>