.container{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    width:100%;
    margin: 0 auto;
    background-color:rgb(25, 25, 25);
    height:150px;
    margin-bottom:150px;
}

.tag{
color:white;
font-weight: 500;
font-size: 24px;
}