.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  flex-direction: row; /* default for larger screens */
  flex-wrap: wrap; 
}

.left-side {
  flex: 1.8;
}

.right-side {
  display: flex;
  flex: 1.2;
  justify-content: center;
  align-items: center;
}

.description-text-container {
  margin: 20px 0;
}

.description-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 47px;
  line-height: 1.2;
}

.underline {
  position: relative;
  display: inline-block;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  width: 120%;
  height: 12px;
  background-color: #ffdc0c;
  z-index: -1;
}

.description-tags {
  display: flex;
  margin-bottom: 14px;
}

.tag {
  font-size: 34px;
  font-weight: 400;
}

.description-buttons {
  display: flex;
  justify-content: flex-start;
}

.lets-talk {
  border-radius: 24px;
  background-color: #ffdc0c;
  color: #000000;
  font-weight: normal;
  font-size: 25px;
  padding: 8px 42px;
  text-decoration: none;
}

.want-disscuss {
  border-radius: 24px;
  color: #000000;
  font-weight: bold;
  border: 5px solid #000000;
  font-size: 25px;
  padding: 8px 42px;
  text-decoration: none;
  margin-right: 20px;
}

.right-side .img {
  max-width: 90%;
  max-height: 95%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid gray;
}

/* Media query for smaller screens */
/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack left and right side vertically */
    align-items: center;
    justify-content: center;
  }

  .left-side, .right-side {
    width: 100%; /* Make both sides take full width */
    text-align: center; /* Center-align the content in both sides */
  }

  .left-side {
    margin-bottom: 20px; /* Add space between the left and right side */
  }

  .description-text {
    font-size: 36px; /* Reduce font size */
  }

  .tag {
    font-size: 24px; /* Adjust tag size */
  }

  .lets-talk,
  .want-disscuss {
    font-size: 20px; /* Smaller button text */
    padding: 6px 30px;
  }

  .right-side .img {
    max-width: 80%; /* Adjust image size */
    max-height: 80%;
  }
}

