<div class="container">
  <div class="left-side">
    <div class="description-text-container">
      <div class="description-text">HEY, I'M ALI, A</div>
      <div class="description-text underline">CREATIVE <span class="highlight">UI/UX</span> DESIGNER</div>
      <div class="description-text">AND DEVELOPER</div>
    </div>
    <div class="description-tags">
      <div class="tag">&nbsp; Designer &nbsp;</div>
      <div class="tag"> Figma &nbsp;</div>
      <div class="tag"> Developer &nbsp;</div>
    </div>
    <div class="description-buttons">
      <div class="want-disscuss">Want to discuss?</div>
      <div class="lets-talk">Let's Talk.</div>
    </div>
  </div>
  <div class="right-side">
    <img src="https://avatar.iran.liara.run/public/boy?username=ali" class="img" alt="test">
  </div>
</div>
