.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
  background-color: #222222;
}



.row {
  display: flex;
  flex-direction: row;
  overflow:visible;
}

.col {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  padding:0px 20px;
  gap:20px;
  margin-top:30px;
  margin-bottom:30px;
  z-index: 9999;
  overflow:visible;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-right:100px;
}

a {
  text-decoration: none;
  color: white;
  font-size:18px;
}