<div class="container">
    <div class="row">
      <div class="logo col">
        <h1>KA.</h1>
      </div>
      <div class="col">
        <a href="mailto:kazimahmad.businessagmail.com" >
            <img class="small-logo" src="../../assets/images/instagram.webp"> kazimahmad.businessgmail.com
        </a>
        <a href="https://bit.ly/3St3BWn" >
            <img class="small-logo" src="../../assets/images/instagram.webp"> https://bit.ly/3St3BWn
        </a>
        
      </div>
      <div class="col">
        <a href="/" >
            <img class="small-logo" src="../../assets/images/instagram.webp"> https://www.instagram.com/kazimahmad_22/
        </a>
      
        <a href="https://www.facebook.com/kazimahmad.22/" >
            <img class="small-logo" src="../../assets/images/instagram.webp"> https://www.facebook.com/kazimahmad.22/
        </a>
      </div>
    </div>
  </div>
  