<div class="container">

  <div class="card">
    <img src="https://avatar.iran.liara.run/public/boy?username=ali" alt="image" class="card-icon">
    <div class="gray-container">
      <div class="card-content">
        This young man- is a great designer. Second time I am working with him. He will be creative with the brief. I am
        very pleased with the outcome.
        He also works very hard and listens to clients- I have been picky at time and he made the appropriate
        amendments.
        All the best kazim


      </div>
      <div class="card-author underline">
        Vaseem Aziz.
      </div>
    </div>
  </div>
  <div class="card">
    <img src="https://avatar.iran.liara.run/public/boy?username=ali" alt="image" class="card-icon">
    <div class="gray-container">
      <div class="card-content">
        Very Hard worked. Listens and understands clients needs. Uses his own initiative to get the job done. Well done.
      </div>
      <div class="card-author underline">
        Vaseem Aziz.
      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://avatar.iran.liara.run/public/boy?username=ali" alt="image" class="card-icon">
    <div class="gray-container">
      <div class="card-content">
        Kazim has been my go-to
        graphic designer for a few months now and I am always satisfied with his work. He is very professional, quick to
        respond, and always delivers high quality graphics.
        I highly recommend him!

      </div>
      <div class="card-author underline">
        Quasim Ahmed.
      </div>
    </div>
  </div>
</div>