*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

body{
    min-height:100vh;
    background-color: #f2efe7;
    width:100%;
}