.container {
    width: 95%;
    margin: 0 auto;
    text-align: center; /* Center title and description */
    margin-bottom:100px;
}

.title {
    font-size: 48px;
    font-weight: bold; /* Make title bold */
    margin-bottom: 10px;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    width: 120%;
    height: 12px;
    background-color: #ffdc0c;
    z-index:-1;
}

.title-description {
    font-size: 26px;
    color: black; /* Set the description text to black */
    margin-bottom: 80px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 50px;/* Space between cards */
    margin-bottom: 60px; /* Space below the card grid */

}

.card {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    background-color: #d9d9d9; /* Grayish background */
    border-radius: 10px; /* 10px border radius */
    min-height:135px;
}
.card-icon {
    width: 50px; /* Set the icon size */
    height: 50px;
    margin-right: 30px; /* Space between icon and text */
}

.card-text {
    font-size: 32px; /* Adjust text size */
    font-weight: 500; /* Set weight for card title */
}

.view-all {
    display: inline-block;
    border-radius: 24px;
    background-color: #ffdc0c;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    padding: 12px 42px;
    text-decoration: none;
    margin: 0 auto;
}
