<div class="container">
    <div class="title-container">
    <div class="title underline">Services.</div>
    <div class="title-description">Here are the services we are providing for you.</div>
    </div>

    <div class="card-container">
        <div class="card">
            <img src="../../assets/images/icon.png" class="card-icon" alt="Icon">
            <div class="card-text">UI/UX Designing</div>
        </div>
        <div class="card">
            <img src="../../assets/images/icon.png" class="card-icon" alt="Icon">
            <div class="card-text">APP UI/UX</div>
        </div>
        <div class="card">
            <img src="../../assets/images/icon.png" class="card-icon" alt="Icon">
            <div class="card-text">Web Developement</div>
        </div>
        <div class="card">
            <img src="../../assets/images/icon.png" class="card-icon" alt="Icon">
            <div class="card-text">Graphic Designing</div>
        </div>
        <div class="card">
            <img src="../../assets/images/icon.png" class="card-icon" alt="Icon">
            <div class="card-text">Product Designing</div>
        </div>
        <div class="card">
            <img src="../../assets/images/icon.png" class="card-icon" alt="Icon">
            <div class="card-text">Social Media Posts</div>
        </div>
    </div>
    

    <a class="view-all">view all</a>
</div>